<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <link rel="shortcut icon" type="image/png" href="https://pbs.twimg.com/profile_images/678615258437656576/2x8Rv1Gr_400x400.jpg" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{ asset "css/normalize.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset "css/prism.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset "css/style.css" }}" />

    {{#if pagination.next}}<link href="{{page_url pagination.next}}" rel="prefetch" />{{/if}}

    <script src="{{ asset "js/prism.js" }}"></script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <nav id="navigator">
        <a href="{{{@blog.url}}}">
          <img src="https://pbs.twimg.com/profile_images/678615258437656576/2x8Rv1Gr_400x400.jpg" alt="" class="branding-image">
        </a>
        <p class="branding-name">Miguh Ruiz</p>
        <p class="branding-description">Full Stack JavaScript Developer</p>
    </nav>

    {{{body}}}

    <footer class="site-footer">
      <img src="https://pbs.twimg.com/profile_images/678615258437656576/2x8Rv1Gr_400x400.jpg" alt="" class="branding-image footer-image">
      <p class="branding-name" id="footer_elem">Miguh Ruiz</p>
      <p class="branding-description" id="footer_elem">Full Stack JavaScript Developer</p>
      <div class="icons">
        <a class="flaticon-newspaper11" href="#"></a>
        <a class="flaticon-github10" href="https://github.com/Galaxy42"></a>
        <a class="flaticon-twitter1" href="https://twitter.com/MiguhRuiz"></a>
      </div>
      <a href="https://github.com/dcefram/stupendous" class="theme-rights">Basado en el tema Stupendous para ghost</a>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56c9a37fb20ed9c0"></script>

</body>
</html>
